# Logs
*.log
crash.log

# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
*.tfvars

# Ansible
*.retry
*.facts

# Kubernetes
*.kubeconfig
kubeconfig*
*.config

# CI/CD
dist/
build/
tmp/

# IDE / Editors
.vscode/
.idea/
*.swp

# OS / Desktop
.DS_Store
Thumbs.db

# Env / Secrets
*.env
.env.local
secrets.yml

# Python
__pycache__/

# Markdown backup
*.md.bak

# Temporary files
*.tmp
*.bak
